@import './css/reset.scss';
@import './css/slick.scss';
@import './css/slick-theme.min.scss';
@import './css/mixins/mixins.scss';
@import './css/variables/bgAndColor.scss';

body,
* {
  @include scrollbars(5px, $color_10, $color_3);
}

.chartsList {
  a {
    width: 32%;
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 8px;
    justify-content: center;
    display: inline-flex;
    text-decoration: none !important;
    &:nth-child(3n + 2) {
      margin: 0 8px 8px 8px;
    }
  }
}

.backToHome {
  text-decoration: underline;
  color:#333;
}

@import './cls_ar.scss';
