@import './css/rtl.scss';

html[dir='rtl'] {
  /* bratcramp ---------------*/
  .topBratcramp {
    li {
      padding-right: 0;
      padding-left: 20px;
      &:after {
        right: auto;
        left: 6px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }

  .GC_termsAndCondationComponent {
    h5 {
      .tc_mainLabel {
        // padding: 10px 35px 10px 0px;
        padding: 10px 0px 10px 10px;
        -webkit-unicode-bidi: plaintext;
        -moz-unicode-bidi: plaintext;
        -o-unicode-bidi: plaintext;
        unicode-bidi: plaintext;
        direction: ltr;

        span {
          unicode-bidi: plaintext;
        }
      }
    }
  }

  .accordion {
    > div {
      &.processing {
        .heacdAccordion {
          .bollet {
            &:before {
              left: auto;
              right: 5px;
            }
          }
        }
      }
    }
    .heacdAccordion {
      padding: 0px 110px 0px 30px;
      span {
        right: auto;
        left: 60px;
      }
      + div {
        padding: 30px 90px 30px 20px;
        &:before {
          left: auto;
          right: 25px;
        }
        @media (max-width: 990px) {
          padding: 30px 50px 30px 10px;
        }
        @media (max-width: 768px) {
          padding: 5px 35px 30px 1px;
        }
      }

      &:after {
        right: auto;
        left: 30px;
        background: url('../content/images/icons/Accordion_arrow_left.svg') no-repeat center;
        background-size: 50%;
        @media (max-width: 768px) {
          right: auto;
          left: 10px;
        }
      }

      .bollet {
        left: auto;
        right: 14px;
      }
      &:before {
        left: auto;
        right: 25px;
      }
    }

    .heacdAccordion {
      @media screen and (max-width: 768px) {
        &:before {
          left: auto !important;
          right: 15px !important;
        }
      }

      .bollet {
        @media screen and (max-width: 768px) {
          left: auto !important;
          right: 4px !important;
        }
      }
    }

    .phasesView {
      @media screen and (max-width: 768px) {
        padding: 20px 30px 20px 10px !important;

        &:before {
          right: 15px !important;
          left: auto !important;
        }
      }
    }
  }

  .journey {
    .accordion {
      .heacdAccordion {
        padding: 0px 60px 0px 30px;
        + div {
          padding: 0px 60px 20px 20px;
        }
      }
    }
  }

  .filteredTabs {
    ul {
      li {
        margin-right: 0;
        margin-left: 40px;
      }
    }
  }

  .fines-violation-holder {
    .page-content {
      .fine_Violations {
        .fines_violation_list {
          .finesRowList {
            &:before {
              right: auto;
              left: 25px;
              -webkit-transform: rotate(135deg);
              -moz-transform: rotate(135deg);
              -o-transform: rotate(135deg);
              transform: rotate(135deg);
            }
          }
          .viewDetails {
            border-left: 0;
            border-right: 1px solid #ddd;
          }
          .p-datatable {
            .p-selection-column {
              text-align: left;
            }
          }
        }
        .totalNum {
          > div {
            p {
              padding-right: 0;
              padding-left: 16px;
            }
          }
        }
      }
    }
  }

  .payment_page {
    .left {
      ul {
        li {
          span {
            &.view-all-btn {
              &::after {
                right: auto;
                left: -10px;
              }
            }
          }
        }
      }
    }
  }
}
